.color-picker {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .color-item {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    transition: all 0.2s;
    opacity: 0.7;

    &--selected {
      border-color: var(--ion-color-light-contrast);
      transform: scale(0.9);
      opacity: 1;
    }
  }
}

.avatar-picker {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.2s;

  &__item {
    margin-right: 0px;
    margin-top: 10px;
    transition: all 0.5s;
    border: 3px solid transparent;
    border-radius: 100%;
    opacity: 0.7;

    &--selected {
      border-color: var(--ion-color-primary);
      transform: scale(0.9);
      opacity: 1;
    }
  }
}

.podium {}

.empty-state {
  color: var(--ion-color-medium);

  &--center {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.about-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

  img {
    height: 25px;
  }

  #jm-icon {
    height: 41px;
    position: relative;
    top: -7px;
    margin-left: -12px;
  }
}

.about-git {
  display: flex;
  align-items: center;
  margin-top: 30px;

  a {
    margin-left: 10px;
  }
}

.players {
  .players-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon-large {
      position: relative;
      top: 0px;
    }
  }
}

.list-ios {
  margin-left: var(--ion-margin, 16px);
  margin-right: var(--ion-margin, 16px);
  margin-top: 8px;
  border-radius: 1rem;

  .item:last-child {
    --border-color: transparent;
  }
}

.loterroria {
  &__img {
    background-size: cover;
    background-position: center;
    border: 4px solid white;
    height: 60vh;
    width: 100%;
  }

  &__bottom-label {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
}

.bottom-button-fixed {
  position: fixed;
  bottom: 8px;
  width: calc(100vw - 32px);
  left: 16px;
}

.small-avatar {
  width: 30px;
  height: 30px;
}